<a class="btn" href="{{ path('portada') }}">{{ "Regístrate" }}</a>
<form action="{{ path('portada') }}" method="post">
    <label for="login_user">{{ "Email" }}</label>
    <input id="login_user" type="text" name="_username" value="{{ last_username | default('') }}" />

    <label for="login_pass">{{ "Contraseña" }}</label>
    <input id="login_pass" type="password" name="_password" />

    <input type="submit" value="{{ "Entrar" }}" />
    <hr />

</form>