{% extends "BackendBundle::backend.html.twig" %}

{% block id 'Familia' %}
{% block title %}Listado de Familias{% endblock %}

{% block article %}
<h1>{{ block('title') }}</h1>


<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('familia_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nombre }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('familia_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('familia_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('familia_new') }}" class="boton">
            Crear nuevo
        </a>
    </li>
</ul>
{% endblock %}
