{% extends "BackendBundle::backend.html.twig" %}

{% block id 'Articulo' %}
{% block title %}Modificar: {{ entity }}{% endblock %}

{% block article %}
<h1>{{ block('title') }}</h1>


<form action="{{ path('articulo_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit" class="boton">Guardar</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('articulo') }}" class="boton">
            Volver a la lista
        </a>
    </li>
    <li>
        <form action="{{ path('articulo_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="boton">Borrar</button>
        </form>
    </li>
</ul>
{% endblock %}
