{% extends "BackendBundle::backend.html.twig" %}
{% block id 'Tienda' %}
{% block title %}Añadir una nueva tienda{% endblock %}

{% block article %}
<h1>{{ block('title') }}</h1>

<form action="{{ path('tienda_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="boton">Guardar</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('tienda') }}" class="boton">
            Volver a la lista
        </a>
    </li>
</ul>
{% endblock %}
